<div class="card">
  <div class="card-content">
    <span class="card-title">Add Task</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col-s6">
          <input type="text" placeholder="Add title" name="title" [(ngModel)]="task.title">
          <label>Title</label>
        </div>
        <div class="input-field col-s6">
            <input type="text" placeholder="Add Description" name="description" [(ngModel)]="task.description" >
            <label>Description</label>
          </div>
      </div>
      <input type="submit" class="btn light-blue">
    </form>
  </div>
</div>