<div *ngIf="tasks?.length > 0;else noTasks">
  <ul *ngFor="let task of tasks" class="collection">
    <li class="collection-item">
      <strong>{{ task.title }}</strong> : {{ task.description }} 
      <a href="#" class="secondary-content">
        <i (click)="deleteTask($event, task)" class="fa fa-trash"></i>
        <i (click)="editTask($event, task)" class="fa fa-pencil"></i>
      </a>
      <div *ngIf="editState && taskToEdit.id === task.id">
        <form (ngSubmit)="updateTask(task)">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="title" placeholder="Edit Title" [(ngModel)]="task.title">
            </div>
            <div class="input-field col s6">
                <input type="text" name="description" placeholder="Edit Description" [(ngModel)]="task.description">
            </div>
            <input type="submit" class="btn" value="Update Task">
            <button class="btn red" >Cancelar</button>
          </div>
        </form>
      </div>

    </li>
  </ul>
</div>

<ng-template #noTasks>
  <h5>There is not Tasks yet.</h5>
</ng-template>