<nav>
  <div class="navbar-wrapper light-blue">
      <a href="#" class="brand-logo center">
          Angular App
      </a>
  </div>
</nav>
<div class="container">
  <app-add-task></app-add-task>
  <app-tasks></app-tasks>
</div>